body {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 20px 0;
  background-color: #f0f0f0;
}

.header-title {
  font-size: 36px;
  color: rgb(93, 93, 216);
  margin-bottom: 10px;
}

.main-heading {
  text-align: left;
  margin: 30px 0 30px 150px;
}

.sub-heading {
  font-size: 18px;
  margin: 20px 0 20px 20px;
}
